body {
    
background:
    color: yellow;
  
}

.navbar {
  border-bottom: #FFFFFF 1px solid;
  opacity: 1;
  
  
}

.nav-link{
    color:yellow;
}
.navbar-brand{
   color: yellow; 
}
#home-section {
  background: url(img/22129465.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
    text-align: center;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}